<phpunit bootstrap="bootstrap.php">
    <testsuite name="MtMailTest">
        <directory>MtMailTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
        <blacklist>
            <directory>../vendor</directory>
        </blacklist>
    </filter>
</phpunit>
