<phpunit bootstrap="test/bootstrap.php">
    <testsuite name="MtMailTest">
        <directory>test/MtMailTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>
